@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.displayed{
  display : block;
  z-index: 100;
}
.notdisplayed{
  display : none;
}

@media only screen and (max-width: 992px) {
  .side-bar {
    display: none;
    background-color: rgb(23, 23, 43);
  }
}
