@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.displayed{
  display : block;
  z-index: 100;
}
.notdisplayed{
  display : none;
}
button{
  background-color : rgba(255,255,255,0);
  width : 100%;
  border : none;
  
}
button span{
    size : 20px;
    color : white;

}

@media only screen and (max-width: 992px) {
  .side-bar {
    display: none;
    background-color: rgb(23, 23, 43);
  }
}
