.event {
  background-color: #1e2340;
  overflow: hidden;
  width: 750px;
}
.event div {
  padding-left: 10px;
  padding-right: 10px;
}
.event div p {
  padding: 5px;
  padding-bottom: 2px;
  margin-top: 13px;
  color: white;
}
.event div .event-date {
}
.event div .remove {
  margin-top: 10px;
}
@media screen and (max-width: 576px) {
  .event {
    width: 200px;
  }
}
