.members {
  margin-left : 27%;
  /*background-color : red;*/
  margin-top: 50px;
  color: black;
  height : 120%;
  background-color: rgb(23, 23, 43);
}
.members .members-table{
  background-color : #1e2340;
  box-shadow: 1px 4px 15px 6px rgba(0,0,0,0.1);
  margin-top : 60px;
}
.members .theader{
  margin-bottom : 0px;
  border : grey 0.5px solid;
  border-right : none;
  border-left : none;
}
.theader p{
  text-align : center;
  display : inline-block;
  float : left;
  margin-left : 25px;
  margin-right : 25px;
  margin-top : 12px;
  text-align: center;
  color : white;
}
.form{
  z-index : 3;
  background-color : #1e2340;
  display : none;
  margin-top : 20px;
  width : 400px;
  margin-left : 6.5%;
}
.form label {
  margin-top : 30px;
  margin-left : 13%;
  display : block;
}
.form label input {
  border : 0.5px grey solid;
  width : 400px;
  height : 50px;

}
form {
    padding-top : 30px;
  padding-bottom: 30px;
}
.form input[type=submit] {
  margin-left : 14.7%;
  width : 150px;
  height: 50px;
  background-color : rgb(28, 99, 180);
  text-align : center;
  border : none;
  border-radius : 5px;
  cursor : pointer;
  font-family: "Helvetica", sans-serif;
  margin-top : 15px;
}
.form input[type=submit]:hover{
    background-color : #128fcd;
    color : #daf5ff;
  transition: 0.4s;
}
.cancel{
  margin-left : 13.5%;
  width : 150px;
  height: 50px;
  background-color : #91cdc5;
  border : none;
  border-radius : 5px;
  transition : 0.4s;
  font-family: "Helvetica", sans-serif;
  cursor : pointer;
  margin-top : 15px;
}
.cancel:hover{
  background-color : #75cdc8;
  color : white;
}
.cancel:focus{
  outline:none;
}
.display-btn{
  width : 18%;
  height : 50px;
  margin-left : 40%;
  margin-top : 30px;
  background-color : #128fcd;
  border-radius : 6px;
  border : none;
  cursor: pointer;
  color : white;
  font-family : Roboto;
  font-size : bold;
  transition : 0.5s;
}
.display-btn:hover{
  background-color : #1844cd;
}
.display-btn:focus{
  outline : none;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
@media screen and (max-width : 850px){
  .members{
    margin-left : 4%;
  }
}
@media screen and (max-width : 900px){
  .members{
    margin-left : 8%;
  }
}
@media screen and (max-width : 950px){
  .members{
    margin-left : 10%;
  }
}
@media screen and (max-width : 800px){
  .members{
    margin-left : 3%;
  }
}
@media screen and (max-width : 767px){
  .tbinfo{
    display : none;
  }
  .members{
    width : 400px;
    margin-left : 20%;
  }

}

